<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocVerify</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/sign.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  </head>
  <body>

    <input type="checkbox" id="check">
    
    <!--header area start-->
    <header>
      <!-- <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label> -->
      <div class="left_area">
        <a href="/" class="logo">
                    <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo">
                </a>
      </div>
      <div class="right_area">
        <a href="#" class="logout_btn">Logout</a>
      </div>
    </header>
    <!--header area end-->

    <!--mobile navigation bar start-->
    <div class="mobile_nav">
      <div class="nav_bar">
        <i class="fa fa-bars nav_btn"></i>
      </div>
      <div class="mobile_nav_items">
        <a href="#"><i class="fas fa-desktop"></i><span>Sign </span></a>
        <a href="/verify/admin"><i class="fas fa-cogs"></i><span>Verify</span></a>
        <a href="/gen/transcript"><i class="fas fa-table"></i><span>Generate Transcipt</span></a>
      </div>
    </div>
    <!--mobile navigation bar end-->
    <!--sidebar start-->
    <div class="sidebar">

      <a href="#"><i class="fas fa-desktop"></i><span>Sign</span></a>
      <a href="/verify/admin"><i class="fas fa-cogs"></i><span>Verify</span></a>
      <a href="/gen/transcript"><i class="fas fa-table"></i><span>Generate Transcript</span></a>
      
    </div>
    <!--sidebar end-->

    <div class="container1">

      <div class="reg-content">
        <form action="/sign" method="post" enctype="multipart/form-data" target="_blank">
          <div class="content">
              <h2 >Sign Document</h2>
              {% if data %}
                <p style="color:red;">Document with ID {{data.doc_id}} exists. Verify Doc
                    <a style="color:red;" href="{{ request.host_url }}/verify/admin?doc_id={{ data.doc_id }}">here</a></p>
              {% endif %}
        <div class="column">
              <div class="card">
                <label for="key">Full Name:</label>
                    <input  type="text" name="fullname" id="name" placeholder="Fullname"/>
                <label for="key1">Course:</label>
                    <input  type="text" name="course" id="course" placeholder="Course"/>
                <label for="key1">Department:</label>
                    <input  type="text" name="department" id="dept" placeholder="Department"/>
                <label for="key">Faculty:</label>
                    <input  type="text" name="faculty" id="fac" placeholder="Faculty"/>
                </div>

                <div class="card">
                    <label for="key">Graduation Year:</label>
                    <input  type="text" name="graduation_year" id="key"placeholder="Graduation Year"/>
                <label for="key">Matric No:</label>
                    <input  type="text" name="matric_no" id="mat"placeholder="Matric No"/>
                <label for="key">Class of Degree:</label>
                    <input  type="text" name="class_of_degree" id="key" placeholder="Class of Degree"/>
                <label for="key">Document ID Number:</label>
                    <input  type="text" name="doc_id" id="key" placeholder="Document Id"/>
            </div>
            </div>
              <div class="card1">
                  <label for="key">Upload Photograph:</label>
                      <input class="upload" type="file" name="photograph"/>
              </div> 
              <div class="card1">
                  <label for="key">Upload Document:</label>
                      <input class="upload" type="file" name="document"/>
              </div> 
              <div>
                  <button class="form_btn" >Sign Document</button>
              </div>
          </div>
        </form>
      </div>
      <div class="img1">
        <img src="{{url_for('static', filename='images/addfile.svg')}}">
      </div>
    </div>
    
        

    <script type="text/javascript">
    $(document).ready(function(){
      $('.nav_btn').click(function(){
        $('.mobile_nav_items').toggleClass('active');
      });
    });
    </script>

  </body>
</html