<!DOCTYPE html>
<html>
<head>
	<title>DocVerify Login</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/reg.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <div class="container">
            <nav class="nav d-flex">
                <a href="/index.html" class="logo">
                    <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo">
                </a> 
                <!-- toggle bar -->
                <div class="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="navigation-bar">
                    <ul>
                        <!-- <li><a href="#">Verify Document</a></li>
                        <li><a href="#">Request Transcript</a></li> -->
                        <li><a href="/login" class="btn1">Login</a></li>
                     </ul>
                </div>
            </nav>
        </div>
    </header> 
	<!-- <img class="wave" src="img/wave.png">  -->
	 <div class="container1">
        <div class="img1">
			<img src="{{url_for('static', filename='images/welocm.svg')}}">
		</div>
        <div class="reg_content">
            <form action="/signup" method="post">
        
                <h1>Create An Account</h1>
<!--                <h3>Please Fill in this form to create an account</h3>-->
                
                <fieldset>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
                
                <label for="mail">Email:</label>
                <input type="email" id="mail" name="email">
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                
                <label for="job">Set Profile as:</label>
                <select id="job" name="profile" required>
                    <option value="">Select Profile</option>
                    <option>Individual</option>
                    <option>Company</option>
                    <option>Institution</option>
                    <option>Western Education Service (WES)</option>
                </select>
                </fieldset>
                <button type="submit">Sign Up</button>
            </form>	
        </div>

                  
    </div>
    <script type="text/javascript" src="js/app.js"></script>
	<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>
